@use "base/variables" as var;

html {
	height: 100%;
}

body {
	font: 400 14px/16px "Inter", sans-serif;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	height: 88px;
	background: var.$clr_scroll;
	border-radius: 15px;
	opacity: .48;
}


h1 {
	font: 32px/32px "Inter", sans-serif;
	font-weight: 700;
	color: var.$clr_dark;
	letter-spacing: 1px;
}

h2 {
	font: 20px/24px "Inter", sans-serif;
	font-weight: 700;
	color: var.$clr_dark;
}

p {
	color: var.$clr_light_gray;
}

img {
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
}

a {
	text-decoration: none;
	transition: all .3s;

	&:visited,
	&:link,
	&:hover {
		outline: none;
		text-decoration: none;
	}
}

.container {
	max-width: 1312px;
	padding: 0 15px;
	margin: 0 auto;

}



@media screen and (max-width: 1240px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 580px) {}