$clr_white: #FCFCFC;
$clr_primary: #F61067;
$clr_purple_100: #5E239D;
$clr_purple_200: #3A0475;
$clr_purple_300: #30124E;
$clr_purple_400: #150433;
$clr_headers: #30233D;
$clr_main_text: #776C82;
$clr_gray: #9B94A3;
$clr_headers: #30233D;
$clr_light_gray: #F4F4ED;
$clr_border_gray: rgba(255, 255, 255, .5)