$clr_white: #fff;
$clr_purple: #ECEDFF;
$clr_blue: #4C57FB;
$clr_dark: #222531;
$clr_light_gray : #616E85;
$clr_scroll : #D0D6E4;
$clr_orange: #F18C5C;
$clr_kp1: #5155C3;
$clr_kp2: #597DBE;
$clr_kp3: #5F99BB;
$clr_kp4: #65B8B7;
$clr_kp5: #6CDDB1;