@use "base/variables" as var;

.footer {
	background-color: #1b0c2f; // Темний фон
	color: var.$clr_white; // Білий текст
	padding: 123px 0;

	&__brand {
		max-width: 150px;
		margin-right: 144px;

		.footer__logo {
			font-size: 23px;
			font-weight: bold;
			letter-spacing: 3px;
			margin: 6px 0 2px 0;
		}

		.footer__description {
			font-size: 16px;
			line-height: 26px;
			color: var.$clr_white;
		}
	}

	&__menu,
	&__services,
	&__contact,
	&__social {
		.footer__title {
			font-size: 12px;
			font-weight: bold;
			margin-bottom: 22px;
			text-transform: uppercase;
			border-bottom: 2px solid var.$clr_primary;
			padding-bottom: 10px;
			display: inline-block;
			letter-spacing: 6px;
		}

		.footer__list {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.footer__link {
			color: var.$clr_white;
			text-decoration: none;
			font-size: 12px;
			line-height: 28px;
			transition: color 0.3s ease;
			font-weight: 700;
			letter-spacing: 1px;

			&:hover {
				color: var.$clr_primary;
			}
		}
	}

	&__menu {
		margin-right: 40px;
	}

	&__services {
		margin-right: 89px;
	}

	&__contact {
		margin-right: 136px;
	}

	&__social {}

	&__contact {
		.footer__item {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			margin-bottom: 0.5rem;
		}

		.footer__link {
			font-size: 14px;
			letter-spacing: 1px;
			font-weight: 400;
		}

		.footer__icon {
			margin-right: 17px;

			&--phone {
				max-width: 9px;
				margin-right: 21px;
				display: flex;
			}
		}
	}

	&__social {
		.footer__icons {
			display: flex;
			padding: 24px 0 10px;

			.footer__icon {

				&:hover {
					color: var.$clr_primary;
				}

				&+.footer__icon {
					margin-left: 40px;
				}
			}
		}
	}

	&__copyright {
		padding-top: 63px;

		p {
			font-size: 12px;
			color: var.$clr_white;
		}
	}
}