@use "base/variables" as var;

.footer {
	background-color: #1b0c2f;
	color: var.$clr_white;
	padding: 123px 0;

	&__brand {
		max-width: 150px;
		margin-right: 144px;

		.footer__logo {
			font-size: 23px;
			font-weight: bold;
			letter-spacing: 3px;
			margin: 6px 0 2px 0;
		}

		.footer__description {
			font-size: 16px;
			line-height: 26px;
			color: var.$clr_white;
		}
	}

	&__menu,
	&__services,
	&__contact,
	&__social {
		.footer__title {
			font-size: 12px;
			font-weight: bold;
			margin-bottom: 22px;
			text-transform: uppercase;
			border-bottom: 2px solid var.$clr_primary;
			padding-bottom: 10px;
			display: inline-block;
			letter-spacing: 6px;
		}

		.footer__list {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.footer__link {
			color: var.$clr_white;
			text-decoration: none;
			font-size: 12px;
			line-height: 28px;
			transition: color 0.3s ease;
			font-weight: 700;
			letter-spacing: 1px;

			&:hover {
				color: var.$clr_primary;
			}
		}
	}

	&__menu {
		margin-right: 40px;
	}

	&__services {
		margin-right: 89px;
	}

	&__contact {
		margin-right: 136px;
	}

	&__social {}

	&__contact {
		.footer__item {
			display: flex;
			align-items: center;
			margin-bottom: 8px;
		}

		.footer__link {
			font-size: 14px;
			letter-spacing: 1px;
			font-weight: 400;
		}

		.footer__icon {
			margin-right: 17px;

			&--phone {
				max-width: 9px;
				margin-right: 21px;
				display: flex;
			}
		}
	}

	&__social {
		.footer__icons {
			display: flex;
			padding: 24px 0 10px;
			flex-wrap: wrap;

			.footer__icon {

				&:hover {
					color: var.$clr_primary;
				}

				&+.footer__icon {
					margin-left: 40px;
				}
			}
		}
	}

	&__copyright {
		padding-top: 63px;

		p {
			font-size: 12px;
			color: var.$clr_white;
		}
	}
}


@media screen and (max-width: 1240px) {
	.footer-nav-holder {
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-between;
	}

	.footer {
		justify-content: space-between;
		padding: 50px 0 15px;

		&__brand {
			margin-right: 70px;
		}

		&__menu {
			margin: 0;
		}

		&__services {
			margin: 0;
		}

		&__contact {
			margin-right: 0;
		}

		&__social {
			margin: 25px 0;
			width: 100%;
		}

		&__social {
			.footer__icons {
				padding: 0 0 10px 0;
			}
		}

		&__copyright {
			padding: 0;
		}
	}
}


@media screen and (max-width: 767px) {
	.footer {
		justify-content: space-between;
		padding: 50px 0 15px;

		&__brand {
			display: none;
		}

		&__menu,
		&__services,
		&__contact,
		&__social {
			.footer__title {
				display: block;
				text-align: center;
			}

		}

		&__menu {
			margin: 0;
		}

		&__services {
			margin: 0;
		}

		&__contact {
			margin-right: 0;
		}

		&__social {
			order: -1;
			width: 100%;
			margin-top: 0;
		}

		&__social {
			.footer__icons {
				padding: 0 0 10px 0;
				display: flex;
				justify-content: center;
			}
		}

		&__copyright {
			padding-top: 15px;
			text-align: center;
		}
	}
}

@media screen and (max-width: 580px) {
	.footer {

		&__contact,
		&__social {
			width: 100%;
			margin-bottom: 15px;
		}

		&__menu,
		&__services {
			width: 48%;
			margin-bottom: 15px;
		}

		&__contact {
			.footer__item {
				display: flex;
				justify-content: center;
			}
		}
	}
}