@use "base/variables" as var;

.dashboard {
	padding: 64px 0 25px 0;

	&__header {
		margin-bottom: 33px;
	}

	&__top {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		margin-bottom: 12px;
	}

	&__subtitle {
		font-size: 16px;
	}

	&__controls {
		display: flex;
		align-items: center;
		background: var.$clr_white;
		border-radius: 30px;
		padding: 9px 8px;
		margin-top: 8px;
	}

	&__nav {
		list-style: none;
		display: flex;
		gap: 0;
		padding: 0;
	}

	&__link {
		& a {
			text-decoration: none;
			color: var.$clr_dark;
			padding: 10px 24px;
			transition: all 0.3s;
			border-radius: 30px;
			display: flex;
			align-items: center;
			font-weight: 500;

			svg {
				margin-right: 9px;
			}

			path {
				transition: all .3s;
			}

			&:hover {
				background-color: var.$clr_blue;
				color: var.$clr_white;

				path {
					stroke: var.$clr_white;
				}
			}
		}

		&--active a {
			background-color: var.$clr_blue;
			color: var.$clr_white;
		}
	}


}

@media screen and (max-width: 991px) {
	.dashboard {
		&__link {
			a {
				padding: 10px 15px;
				text-indent: -99999px;

				.icon {
					text-indent: 0;
				}

				svg {
					margin: 0;
				}
			}
		}

		&__title {
			font-size: 26px;
		}

		&__subtitle {
			font-size: 14px;
		}
	}
}

@media screen and (max-width: 580px) {
	.dashboard {
		&__controls {
			max-height: 20px;
		}

		&__link {
			a {
				padding: 0 10px;
			}
		}
	}
}